.vscode
.idea
docs
bin
lib
*.exe
*.db
*.log
*.tmp
*.zip
*.tar
*.gz
*.out
app.yaml
role.yaml
permission.yaml
image.yaml
announce.yaml
app.yml
role.yml
permission.yml
image.yml
announce.yml
maintainman

dist/
images/
