app:
  name: "maintainman"
  listen: ":8080"
  loglevel: "debug"
  page_limit: 100
  page_limit_default: 20

token:
  key: "xaxys_2022_all_rights_reserved"
  exp: "30m"

database:
  driver: "mysql"
  mysql:
    host: "localhost"
    port: "3306"
    name: "maintainman"
    params: "parseTime=true&loc=Local&charset=utf8mb4"
    user: "root"
    password: "000..."
  sqlite:
    path: "maintainman.db"

cache: # second
  expire: 86400
  purge: 600

admin: # only apply at first initialization
  name: "admin"
  display_name: "maintainman default admin"
  role_name: "super_admin"
  password: "12345678"