version: 1.0.0
app:
  name: "maintainman"
  listen: ":8080"
  loglevel: "debug"
  page:
    limit: 100
    default: 50
  hit_expire:
    announce: "12h"
  appraise:
    timeout: "72h"
    purge: "10m"

wechat:
  appid: ""
  secret: ""

token:
  key: "xaxys_2022_all_rights_reserved"
  exp: "30m"

database:
  driver: "mysql"
  mysql:
    host: "localhost"
    port: "3306"
    name: "maintainman"
    params: "parseTime=true&loc=Local&charset=utf8mb4"
    user: "root"
    password: "123456"
  sqlite:
    path: "maintainman.db"

cache:
  expire: "24h"
  purge: "10m"

admin: # only apply at first initialization
  name: "admin"
  display_name: "maintainman default admin"
  role_name: "super_admin"
  password: "12345678"