jpeg_quality: 80
gif_num_colors: 256
cache_as_jpeg: true
save_as_jpeg: false

upload:
  async: false # Upload request returns straight after image is processed by the server (saving might still fail)
  max_file_size: 10485760 # 10 MB
  max_pixels: 15000000    # 15 million pixels
  throttling:
    burst: 20
    rate: 5
    purge: 1m
    expire: 5m

cache:
  driver: local
  limit: 1073741824 # 1 GB

storage:
  driver: local
  local:
    path: ./images/cache
    clean: true
  s3:
    bucket: BUCKET

transformations:
  square:
    params:   w_256,h_256,c_p,g_c
    eager:   true # Run on every upload
  watermarked:
    default: true
    params: w_800
    texts:
    - content: "{{.Name}}@MaintainMan"
      gravity: se
      x-pos:   10
      y-pos:   0
      color:   "#808080CC"
      font:    fonts/SourceHanSans-Regular.ttf
      size:    14
