permission:
  user:
    create: "创建用户"
    update: "更新用户"
    updateall: "更新所有用户"
    role: "修改角色"
    division: "修改部门"
    delete: "删除用户"
    viewall: "查看所有用户"
    login: "登录"
    register: "注册"
    renew: "更新Token"
  role:
    create: "创建角色"
    update: "更新角色"
    delete: "删除角色"
    viewall: "查看所有角色"
  permission:
    viewall: "查看所有权限"
  announce:
    create: "创建公告"
    update: "更新公告"
    delete: "删除公告"
    viewall: "查看公告"
  order:
    create: "创建订单"
    close: "关闭订单"
    update: "更新订单"
    updateall: "更新所有订单"
    assignall: "分配订单"
    assign: "给自己分配订单"
    reject: "拒绝订单"
    report: "上报订单"
    hangup: "挂起订单"
    complete: "完成订单"
    defect: "修改故障分类"
    urgence: "修改紧急程度"
    grade: "评分"
    gradeall: "给所有订单评分"
    comment:
      create: "创建评论"
      delete: "删除评论"
      createall: "创建所有评论"
      deleteall: "删除所有评论"
      viewall: "查看所有评论"
    viewall: "查看所有订单"
  parts:
    create: "创建零件"
    update: "更新零件"
    consume: "消耗零件"
    delete: "删除零件"
    viewall: "查看所有零件"
